

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #eee;
  }
  
  nav {
    display: flex;
    justify-content: center; /* Center the nav items horizontally */
  }
  
  #header-img {
    width: 20%;
    height: auto;
  }
  
  .form {
    text-align: center;
    margin: 20px;
    margin-bottom: 60px;
  }
  
  .form * {
    margin-top: 20px;
  }
  
  nav li,
  .features-list li {
    margin: 30px;
    list-style: none;
  }
  
  .head {
    position: sticky;
    top: 0;
    background-color: #eee;
    z-index: 1;
  }
  
  header {
    display: flex;
    justify-content: space-between; /* Space out the logo and nav items */
  }
  
  .features-list li {
    margin: 15px 10%;
  }
  
  button,
  #submit {
    background-color: yellow;
    padding: 5px;
  }
  
  iframe {
    display: block;
    margin: 40px auto;
  }
  
  #pricing {
    display: flex;
    justify-content: space-around; /* Center the pricing items horizontally */
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
  }
  
  .top {
    background-color: #ddd;
    padding: 10px;
    height: 35px;
  }
  
  .list {
    margin: 10px;
    width: calc(100% / 3);
    border: 1px solid black;
    text-align: center;
    padding-bottom: 10px;
  }
  
  footer ul {
    display: flex;
    justify-content: flex-end; /* Right-align the footer links */
  }
  
  footer {
    background-color: #ddd;
    width: 80%;
    margin: auto;
    padding: 20px;
  }
  
  footer li {
    list-style: none;
    margin: 10px;
  }
  
  footer div p {
    text-align: right;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  .list ol li {
    margin: 10px auto;
    list-style: none;
  }
  
  #Features {
    margin: 40px;
  }
  
  @media (max-width: 760px) {
    #pricing {
      flex-direction: column;
      align-items: center; /* Center pricing items vertically */
    }
  
    .list {
      width: 80%; /* Adjust the width for mobile screens */
      margin: 10px auto;
    }
  
    nav {
      flex-direction: column;
      align-items: center; /* Center nav items horizontally */
      margin-left: 0; /* Remove the margin for smaller screens */
    }
  }
  